

body {
    width: 700px;
    height: 700px;
}
.main{
    width: 700px;
    height: 700px;
    margin-right: auto;
    margin-left: auto;
    background-color: #273449;
    background-size: 700px 700px;
    background-repeat: no-repeat;

  }

.main h2 {
    padding-bottom: 0px;
    padding-top: 20px;
    padding-left: 210px;
    font-size: 35px;
    position: absolute;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    color: rgba(20,195,154,1);
}

a {
    color: white;
}

.alert {
    padding:0;
    margin:0;
}

.alert p{
    color: white;
    padding:0;
    margin:0;
}

.button2 {
  border: none;
  padding: 3px 7px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 30px 30px;
  cursor: pointer;
  float: right;
border-radius: 10px;
  color: #273449;
    background-color: rgba(20,195,154,1);
;
}

.button2:hover {
    box-shadow: 3px 3px 3px rgba(101, 101, 101, 0.43);
}

.addclass{
    margin-right:260px;
    padding-top: 150px;
    text-align: right;
    
}

.show {display: block;}


.main .button3{
  background-color: rgba(20,195,154,1);
  border: none;
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px; 
  cursor: pointer;
  float: center;
  color: #273449;
 border-radius: 10px;
    
}

.button3:hover {
    box-shadow: 3px 3px 3px rgba(101, 101, 101, 0.43);
}

.item label {
    padding-right: 10px;
    display: inline-block;
    color: white;
}
.iteme label {
    display: inline-block;
    color: white;
}

.item input {
    padding: 5px;
    border-radius: 5px;
}

.iteme input {
  width: 140px;
    padding: 5px;
    border-radius: 5px;
}

select {
    padding: 5px;
    border-radius: 5px;
    width: 170px;
    margin-bottom: 20px;
}

input[type=radio] {
    text-align: center;
    padding-bottom: 10px;
}


.button3 {
    text-align: center;
    float: right;
    margin-right: 50px;
}


